#docindex
  %a{:name => "docindex"}
  .headline
    = link_to 'RVM Documentation Index', '/'
    |
    = link_to 'RVM Blog', '/blog/'
  %ul
    = sorted_articles.map{|post| "<li>#{link_to("#{post.attributes[:created_at].to_s} #{post.attributes[:title]}", post)}</li>" }.join("\n")
