#docindex
  .headline
    = link_to 'RVM Documentation Index', '/', style: "color: red;"
    |
    = link_to 'RVM Blog', '/blog/'
  .column
    = menu_for("/rvm/")

    %a{:href => "/interpreters/"} Interpreters
    %ul
      %li
        %a{:href => "/interpreters/ruby/"} MRI/YARV (ruby)
      %li
        %a{:href => "/interpreters/jruby/"} JRuby (jruby)
      %li
        %a{:href => "/interpreters/rbx/"} Rubinius (rbx)

    = menu_for("/rubies/")

  .column
    = menu_for("/gemsets/")

    %a{:href => "/set/"} Set Actions
    %ul
      %li
        %a{:href => "/set/do/"} do
      %li
        %a{:href => "/set/tests/"} tests
      %li
        %a{:href => "/set/benchmark/"} benchmark

    = menu_for("/workflow/")

  .column
    %a{:href => "/integration/"} Integration
    %ul
      %li
        %a{:href => "/integration/databases/"} Databases
      %li
        %a{:href => "/integration/zsh/"} Zsh
      %li
        %a{:href => "/integration/fish/"} Fish
      %li
        %a{:href => "/integration/bundler/"} Bundler
      %li
        %a{:href => "/integration/memprof/"} MemProf
      %li
        %a{:href => "/integration/pow/"} Pow
      %li
        %a{:href => "/integration/textmate/"} Textmate
      %li
        %a{:href => "/integration/emacs/"} Emacs
      %li
        %a{:href => "/integration/netbeans/"} Netbeans
      %li
        %a{:href => "/integration/culerity/"} Culerity
      %li
        %a{:href => "/integration/simple-terminal/"} Simple Terminal
      %li
        %a{:href => "/integration/sketchup/"} SketchUp
      %li
        %a{:href => "/integration/jenkins/"} Jenkins
      %li
        %a{:href => "/integration/macports/"} MacPorts
      %li
        %a{:href => "/integration/qtruby/"} QT Ruby
      %li
        %a{:href => "/integration/sudo/"} Sudo
      %li
        %a{:href => "/integration/tk/"} Tk
      %li
        %a{:href => "/integration/vagrant/"} Vagrant
      %li
        %a{:href => "/integration/vim/"} Vim
      %li
        %a{:href => "/integration/gnome-terminal/"} Gnome-terminal
      %li
        %a{:href => "/integration/lxterminal/"} LXTerminal
      %li
        %a{:href => "/integration/xterm/"} XTerm
      %li
        %a{:href => "/integration/konsole/"} Konsole

    = menu_for("/deployment/")

  .column

    %a{:href => "/packages/"} Packages
    %a{:href => "/presentations/"} Presentations
    %ul
      %li
        %a{:href => "http://www.confreaks.com/videos/3-mwrc2010-managing-ruby-projects-with-rvm"} MWRC 2010
      %li
        %a{:href => "http://confreaks.tv/videos/railsconf2012-rvm-essential-rails-development-tools"} RailsConf 2012
      %li
        %a{:href => "http://confreaks.tv/videos/railsconf2013-developing-rails-apps-in-technical-isolation"} RailsConf 2013
      %li
        %a{:href => "http://thechangelog.com/66/"} Changelog 66 with Wayne
      %li
        %a{:href => "http://www.youtube.com/watch?v=wN-iIC3S1ZM"} RVM 2: Lessons and future
      %li
        %a{:href => "http://www.youtube.com/watch?v=gYNht8H24ZQ"} RVM 2: Python Version Manager
      %li
        %a{:href => "http://thechangelog.com/102/"} Changelog 102 with Michal

    %a{:href => "/support/"} Help &amp; Support
    %ul
      %li
        %a{:href => "/support/irc/"} Issues tracker
      %li
        %a{:href => "/support/faq/"} FAQ &amp; Notes
      %li
        %a{:href => "/support/troubleshooting/"} Troubleshooting
      %li
        %a{:href => "/support/fixing-broken-ssl-certificates/"} Fixing Broken SSL Certificates

    = menu_for("/qa/")

    = menu_for("/development/")

    %a{:href => "/credits/"} Credits
    %ul
      %li
        %a{:href => "/credits/thanks/"} Contributions
      %li
        %a{:href => "/credits/donations/"} Donations
      %li
        %a{:href => "/credits/funding/"} Funding

  .clear
