= breadcrumbs "Workflow", "Projects"

%h1= @item[:title]

%p
  Thanks to rvmrc support in rvm, you can make a project-specific workflow.
  The following examples tie into how we typically work with rvm along with the advantages
  of such approahces.

%h2 An example

%p
  The most basic workflow is typically project-specific rvmrc's. For each project you
  work on, you create a new gemset (on the ruby interpreter of choice) and let
  your rvmrc take care of switching. As an example:

= sh_cmd "rvm use ree@tedxperth"

%p
  Would use the tedxperth gemset on ruby enterprise edition. To make this
  easier, we can run:

  = sh_cmd "echo 'rvm --create use ree@tedxperth' > .rvmrc"

  or

  = sh_cmd "rvm --create --rvmrc use ree@tedxperth"

%p
  from inside the root of your project. This tells rvm that everytime we change in to the project's directory,
  it should use ree with the tedxperth gemset, creating the gemset if it doesn't exist. After executing the above
  command, you can reload RVM in order to make it see the new .rvmrc and allow you check it out and 'trust' it.

= sh_cmd "rvm reload"

%h3#ruby-versions New project files (starting with rvm 1.11.0)

%p
  A set of new project files that do not require trusting is available:

  = sh_cmd "rvm --create --ruby-version use ree@tedxperth"

  It will create a new file .ruby-version

  = sh_cmd "rvm --create --versions-conf use ree@tedxperth"

  It will create a new file .versions.conf

  Or add comments to Gemfile:

  %pre.code
    :preserve
      #ruby=1.9.3
      #ruby-gemset=my-project

  From this 3 new formats .ruby-version is already supported by rbfu, for more details check:

  %a{:href => "https://gist.github.com/1912050"} A Common .ruby-version File For Ruby Projects
  by
  %a{:href => "https://github.com/fnichol"} Fletcher Nichol.

%p
  This basic approach not only ensures we have gems seperate from the rest of the system but
  also means that out of the box, running 'bundle install' will use the project defined gemset
  to also store the gems.

%p
  We specify a relatively loose requirement on the ruby but still require the developers have
  a consistent choice in what they use. In this approach, it is important to note we also recommend
  adding the rvmrc to the git repository and, if possible,
  %a{:href => "/deployment/best-practices/"} deploy via rvm
  ensuring a consistent choice across all stage.

%h2 A more complex example

%p
  To look at the other extreme, it is possible to use a combined set of features to automate
  many levels of setup and to make life easier when working with projects in general.

%p
  This approach, as seen in
  %a{:href => "http://github.com/rvm/rvm-site/"} the source for this site
  and
  %a{:href => "http://github.com/YouthTree/TEDxPerth/"} the open-source TEDxPerth web app
  not only has an rvmrc that specifies gemset and ruby interpreter, but also goes a few
  steps further to automatically:

%ul
  %li
    Install the minimum required gems (e.g. for TEDxPerth where bundler is used, install bundler.
    In the rvm-site, import a gemset with all of the gems required).
  %li
    In the TEDxPerth example, automatically install the ruby if not already installed and
    use the --create option to ensure the gemset is automatically created.
  %li
    We avoid calling bundle install directly in the .rvmrc (to avoid the speed cost when changing
    in to the directory) but if you wish, you can also make it automatically bundle all of the
    gems as needed.

%p
  Overall, this approach not only ensures you have a consistent environment everywhere you
  develop and deploy the project, but it also helps with tasks such as continious integration.
  For further reference, see:

%ul
  %li
    %a{:href => "/integration/jenkins/"} Our guide for CI with Jenkins
  %li
    %a{:href => "/integration/passenger/"} Our guide for Passenger, Including details on automatic gemset detection
  %li
    %a{:href => "/workflow/rvmrc/"} Our page on using per-project rvmrc's
