%h1 Installing RVM

%h2
  Quick (guided) Install
%p
  <strong>Unless doing guided install you should read all sub-sections under the
  %a{ :href => "/rvm/" }
    RVM Section.
  </strong>

Install RVM with ruby:
= sh_cmd "curl -L get.rvm.io | bash -s stable --ruby"
Additionally with rails:
= sh_cmd "curl -L get.rvm.io | bash -s stable --rails"
Or with rubinius, rails and puma:
= sh_cmd "curl -L get.rvm.io | bash -s stable --ruby=rbx --gems=rails,puma"

%p
  You can also:

  %ul.square
    %li
      read the
      %a{:href => "#explained"}
        installation documentation
      below,
    %li
      for OS X try using
      %a{ :href => "http://railsinstaller.org/#osx"}
        RailsInstaller for OS X
      or try the official RVM GUI
      %a{:href => "http://unfiniti.com/software/mac/jewelrybox", :target=>"_blank"}
        JewelryBox
      ,
    %li
      for Windows use this
      %a{ :href => "http://blog.developwithpassion.com/2012/03/30/installing-rvm-with-cygwin-on-windows/"}
        tutorial
    %li
      watch the most accurate (but not official)
      %a{:href => "http://screencasts.org/episodes/how-to-use-rvm", :target=>"_blank"}
        rvm screencast
      ,
    %li
      read the most accurate (but not official)
      %a{:href => "http://cheat.errtheblog.com/s/rvm/", :target=>"_blank"}
        rvm cheat sheet
      ,
    %li
      starting with Rails? watch the
      %a{:href => "http://railscasts.com/episodes/310-getting-started-with-rails", :target=>"_blank"}
        RailsCasts.com on Getting Started with Rails

%hr
%h2#explained
  Installation explained

%p There are three different ways to install and configure RVM.

%ol
  %li
    <strong>Single-User installations</strong> (<span style="color: blue;">recommended</span>) -
    For an isolated install within a user's $HOME
  %li
    <strong>Multi-User installations</strong> -
    For <span style="color: red;">server administrators</span> -
    For an installation usable by all users on the system -
    Please note that Single-User supercedes Multi-User.
    This also used to be called the System-Wide Install.
    <strong style="color: red;">Using this type of installation without
    knowledge how umask works is a big security risk.</strong>
  %li
    <strong>Mixed mode installations</strong> -
    For an installation usable by all users on the system -
    with isolated rubies/gemsets within a user's $HOME.
    Installation instructions are exactly the same as for
    Multi-User installations, the difference is in users environment.

%p
  %a{ :href => "get.rvm.io" }
    get.rvm.io
  is a redirect to
  %a{ :href => "https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer"}
    https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer
  You could also use full path for the installer:
  = sh_cmd "curl https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer | bash -s stable"

%h2 Installation

%p I recommend you <a href="https://github.com/wayneeseguin/rvm/blob/master/binscripts/rvm-installer">read the installation script</a> yourself. This will give you a chance to understand what it is doing <i>before</i> installing, and allow you to feel more comfortable running it if you do so.

%h3 1. Download and run the RVM installation script
%p
  Installing the stable release version:
  %pre.code
    :preserve
      user$ curl -L get.rvm.io | bash -s stable
%p
  To get the latest development state:
  %pre.code
    :preserve
      user$ curl -L get.rvm.io | bash
%p
  For a Multi-User install you would execute the following:
  %pre.code
    :preserve
      user$ curl -L get.rvm.io | sudo bash -s stable
  %strong
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note: The Multi-User install instructions <i>must</i> be prefixed with the
    %a{:href => "/support/troubleshooting/#sudo"}
      'sudo' command.
    However, once the install is complete, and the instructions to add users to the
    rvm group is followed, the use of either sudo or rvmsudo is no longer required. The 'sudo' command
    is only to temporarily elevate privileges so the installer can complete it's work. If you need to
    use 'sudo' or 'rvmsudo' after the install is complete, some part of the install directions were not
    properly followed. This usually is because people execute the install <i>as</i> root, rather than
    executing the installation instructions from a non-privileged user account.

%p
  Installing a specific version:
  %pre.code
    :preserve
      user$ curl -L get.rvm.io | bash -s -- --version latest
      user$ curl -L get.rvm.io | bash -s -- --branch [owner/][repo]
  Prefix the 'bash' portion with 'sudo', of course, if you wish to apply this to a Multi_user
  Install. Please feel free to check out our
  %a{:href => "/rvm/upgrading/"}
    upgrading docs
  for more details on branch format.

%p
  Debugging installation process:
  %pre.code
    :preserve
      user$ curl -L get.rvm.io | bash -s -- --trace

%p
  <strong>If the rvm install script does nothing or complains about certificates</strong>
  you can bypass this by adding a '-k' switch to the curl command:
  %pre.code
    :preserve
      user$ curl -kL get.rvm.io | bash -s stable

%h4 Single-User Install Location: ~/.rvm/
%p
  If the install script is run as a standard, non-root user, RVM will install into the current users's home directory.

%h4 Multi-User Install Location: /usr/local/rvm
%p
  If the install script is run prefixed with sudo, RVM will automatically install into /usr/local/rvm
  Please see the troubleshooting page for an
  %a{:href => "/support/troubleshooting/#sudo"}
    important note regarding Multi-User Installs.
%p
  Please see the FAQ page for an
  %a{:href => "/support/faq/#root"}
    important note regarding
    %strong
      root only installs

%h4 External tutorials
%p
  Note that that any outside tutorials are NOT supported whether they work or not.
  Tutorials are great, however we have spent massive amounts of man hours debugging the installation process.
  Please use the install process(es) from this site only, as this is the only supported installation types and methods.

%h4 To update an existing RVM installation

%p
  It is safe to simply re-run the installation script again, or you can follow the
  %a{:href => "/rvm/upgrading/"}
    upgrading docs.

%h3 2. Load RVM into your shell sessions as a function

%h4 Single-User:

%p
  The rvm function will be automatically configured for every user on the system if you install as single user.
  Read the output of installer to check which files were modified.

%h4 Multi-User:

%p
  The rvm function will be automatically configured for every user on the system if you install as root.
  This is accomplished by loading /etc/profile.d/rvm.sh on login.
  Most Linux distributions default to parsing /etc/profile which contains the logic to load all files residing in the /etc/profile.d/ directory.
  Once you have added the users you want to be able to use RVM to the rvm grou p, those users MUST log out and back in
  to gain rvm group membership because group memberships are only evaluated by the operating system at initial login time.
  %em Zsh not always sources /etc/profile so you might need to add this in /etc/**/zprofile:
  %pre.code
    :preserve
      source /etc/profile

%h4#mixed Mixed mode (user gemsets):

%ul.square
  %li Above instructions for Multi-User apply, additional configuration is needed for every user (or in /etc/skel)
  %li Select a user as a manager, and add him to rvm group - he will be responsible for installing new rubies.
  %li For every user (except the manager user identified above) run:
  %pre.code
    :preserve
      rvm user gemsets

%p
  From this moment any gemset created by these users will be hosted in their HOME directory, not the system install, be sure to create gemsets.
  It's not possible to use global gemsets from system without using tricks like manually linking directories.
  Please bear in mind that 'system' in this context does not refer to your distribution's ruby packages, but to the RVM Multi-User installation.

%p
  This mode should also works with passenger, please follow
  %a{:href=>"/integration/passenger/"} passenger
  instructions.

%h4 Mixed mode (user rubies and gemsets):

%p
  It is also possible to separate rubies and gemsets per user:
  %pre.code
    :preserve
      user$ rvm user all

  This gives the possibility to install RVM system-wide (Multi-User Install) but allow users to keep separate installations of rubies and gems.

%h3 3. Reload shell configuration &amp; test

%p
  Close out your current shell or terminal session and open a new one (preferred).
  You may load RVM with the following command:

%pre.code
  :preserve
    user$ source ~/.rvm/scripts/rvm

%p
  If installation and configuration were successful, RVM should now load whenever you open a new shell.
  This can be tested by executing the following command which should output <i>'rvm is a function'</i> as shown below.

%pre.code
  :preserve
    user$ type rvm | head -n 1
    rvm is a function

%p
  Finally, see if there are any dependency requirements for your operating system by running:

%pre.code
  :preserve
    user$ rvm requirements

%p
  %strong NOTE:
  Whenever you upgrade RVM in the future, you should always run <i>'rvm notes'</i> and <i>'rvm requirements'</i> as this is usually where you will find details on any major changes and/or additional requirements to ensure your installation stays working. Also, you should also run the above command on any fresh installs. This is where all your additionals will be noted making it an extremely important stop on your way to RVM bliss!

%h4 Congratulations! You have successfully installed RVM.

%h2 Try out your new RVM installation

%p
  Below are some examples of how to install and use a Ruby under RVM.

%p
  Display a list of all "known" rubies. NOTE: RVM can install many more Rubies not listed.

%pre.code
  :preserve
    user$ rvm list known
    # MRI Rubies
    ...
    [ruby-]1.8.7[-p334]
    [ruby-]1.8.7-head
    ...
    [ruby-]1.9.2[-p180]
    [ruby-]1.9.2-head
    ruby-head

    # JRuby
    jruby-1.2.0

    ...

%p Install a version of Ruby (eg 1.9.2):

%pre.code
  :preserve
    user$ rvm install 1.9.2
    Installing Ruby from source to: /Users/user/.rvm/rubies/ruby-1.9.2-p180, this may take a while depending on your cpu(s)...

    ruby-1.9.2-p180 - #fetching
    ruby-1.9.2-p180 - #downloading ruby-1.9.2-p180, this may take a while depending on your connection...
    ...
    ruby-1.9.2-p180 - #extracting ruby-1.9.2-p180 to /Users/user/.rvm/src/ruby-1.9.2-p180
    ruby-1.9.2-p180 - #extracted to /Users/user/.rvm/src/ruby-1.9.2-p180
    ruby-1.9.2-p180 - #configuring
    ruby-1.9.2-p180 - #compiling
    ruby-1.9.2-p180 - #installing
    ...
    Install of ruby-1.9.2-p180 - #complete

%p Use the newly installed Ruby:

%pre.code
  :preserve
    user$ rvm use 1.9.2
    Using /Users/user/.rvm/gems/ruby-1.9.2-p180

%p Check this worked correctly:
%pre.code
  :preserve
    user$ ruby -v
    ruby 1.9.2p180 (2011-02-18 revision 30909) [i386-darwin9.8.0]

    user$ which ruby
    Using /Users/user/.rvm/gems/ruby-1.9.2-p180/bin/ruby

%p Optionally, you can set a version of Ruby to use as the default for new shells. Note that this overrides the 'system' ruby:

%pre.code
  :preserve
    user$ rvm use 1.9.2 --default

%h2 Enjoy using RVM!

%h3
  Where to now?
%p
  If you are new to RVM I recommend that you read the
  %a{:href => "/rvm/basics/"}
    basics page.
  At the end of the basics page there are further links for
  getting started.

%h2 Troubleshooting Your Install

%ul
  %li
    %p If you open a new shell and running:
    = sh_cmd "type rvm | head -1"
    %p
      does
      %em not
      show "rvm is a function", RVM isn't being sourced correctly.

  %li
    %p
      Ensure that RVM is sourced after any path settings as RVM and manipulates the path.
      If you don't do this, RVM may not work as expected.

  %li
    %p
      If you are using GNOME on Red Hat, CentOS or Fedora, ensure that the
      %em Run command as login shell
      option is checked under the
      %em Title and Command
      tab in
      %em Profile Preferences.
      After changing this setting, you may need to exit your console session and start
      a new one before the changes take affect.

%h3 Example RVM bootstrap script

%p
  The following script will boostrap git + RVM, assuming that you have curl and sudo installed.
  The last line of the script will also install several commonly used Rubies for you.

%pre.code
  :preserve
    #!/usr/bin/env bash

    # Install git
    curl -L get-git.rvm.io | bash

    # Install RVM
    curl -L get.rvm.io | bash -s stable

    # Install some Rubies
    source "$HOME/.rvm/scripts/rvm"
    rvm install 1.9.2,rbx,jruby

%p
  For a Multi-User install you would use:

%pre.code
  :preserve
    #!/usr/bin/env bash

    # Install git
    curl -L get-git.rvm.io | sudo bash

    # Install RVM
    curl -L get.rvm.io | sudo bash -s stable

    # Install some Rubies
    source "/usr/local/rvm/scripts/rvm"
    rvm install 1.9.2,rbx,jruby
